<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Default title{% endblock title %}</title>
    
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="static/images/logo.png" height="50px">
            <a>| ZOHAN COMPANY |</a>
        </div>
        
        <div class="title">{% block header %}{% endblock header %}</div>
    </div>

    <div class="midle">

        <div class="menu">
            <a href="/" class="menuBtn">Главная</a>
            <a href="relevance" class="menuBtn">Востребованность</a>
            <a href="geography" class="menuBtn">География</a>
            <a href="skills" class="menuBtn">Навыки</a>
            <a href="last_vacansies" class="menuBtn">Последние вакансии</a>
        </div>

        <div class="content">
            <div>{% block content%}{% endblock content %}</div>
        </div>

    </div>
    

    <div class="footer">
        <div class="footerInfo">Гиренко Захар. РИ-210933</div>
    </div>

</body>

</html> 
