{% extends "base.html" %}
{% block title %}Востребованность{% endblock title %}
{% block header %}Востребованность{% endblock header %}

{% block content%}

<div class="InfoSalary RelevanceDiv">
    <img src="{{SalaryGraph}}"  height="400px">
    {{ SalaryName }}
    <table id="Salary" border="1px">
        
            {% for x in SalaryTable %}
            <tr>
                {% for y in x %}
                <th>{{y}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>
</div>
<div class="InfoCount RelevanceDiv">
<img src="{{CountGraph}}" height="400px">
{{ CountName }}
<table id="Count" border="1">
        {% for x in CountTable %}
        <tr>
            {% for y in x %}
            <th>{{y}}</th>
            {% endfor %}
        </tr>
        {% endfor %}
</table>
</div>



{% endblock content %}